.t-main-title{
    font-size: clamp( 5vh, 5vw, 3rem) ;/*60pt*/
}
.t-title {
    font-size: clamp(4vh, 4vw, 2.5rem); /*50pt*/
}
.t-sub-title{
    font-size:clamp(3vh, 2vw, 2rem); /*35pt*/
}
.t-paragraph{
    font-size: clamp(2vh, 1.3vw, 1.5rem); /*24pt*/
}
.t-description{
    font-size: clamp(1.5vh, 1.1vw, 1rem);/*21pt*/
}
.t-button{
    font-size: clamp(1.9vh, 1.2vw, 1.4rem); /*25pt*/
}

.text-justify{
    text-align: justify;
}
.t-green{
    color:#89C599 !important ;
}

.t-blue{
    color: #0D2A48;
}
.t-withe {
    color: #fff;
}
